In [273]:
from pyspark.sql import SparkSession
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import *

# May take a while locally
spark = SparkSession.builder.appName("'PySparkShell").getOrCreate()

In [274]:
pyspark.SparkConf().getAll()

[('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.ui.showConsoleProgress', 'true')]

In [11]:
df = spark.read.csv('file:///D:\\spark-2.3.2-bin-hadoop2.7\\appl_stock.csv',inferSchema=True,header=True)
df.show()

In [13]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [17]:
from pyspark.sql.functions import *

#df.select(col('Open')).show()
#df.select('Open').show() # by default shows 20 rows
df.select('Open').show(30,True) # if True, then truncate decimal places up to 20 digit max

+------------------+
|              Open|
+------------------+
|        213.429998|
|        214.599998|
|        214.379993|
|            211.75|
|        210.299994|
|212.79999700000002|
|209.18999499999998|
|        207.870005|
|210.11000299999998|
|210.92999500000002|
|        208.330002|
|        214.910006|
|        212.079994|
|206.78000600000001|
|202.51000200000001|
|205.95000100000001|
|        206.849995|
|        204.930004|
|        201.079996|
|192.36999699999998|
|        195.909998|
|        195.169994|
|        196.730003|
|192.63000300000002|
|        195.690006|
|        196.419996|
|        195.889997|
|        194.880001|
|        198.109995|
|        201.940002|
+------------------+
only showing top 30 rows

In [20]:
df.select(format_number('Open',2)).show() # format to two decimal places

+----------------------+
|format_number(Open, 2)|
+----------------------+
|                213.43|
|                214.60|
|                214.38|
|                211.75|
|                210.30|
|                212.80|
|                209.19|
|                207.87|
|                210.11|
|                210.93|
|                208.33|
|                214.91|
|                212.08|
|                206.78|
|                202.51|
|                205.95|
|                206.85|
|                204.93|
|                201.08|
|                192.37|
+----------------------+
only showing top 20 rows

In [18]:
df.head(5)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date=datetime.datetime(2010, 1, 5, 0, 0), Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date=datetime.datetime(2010, 1, 6, 0, 0), Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004),
 Row(Date=datetime.datetime(2010, 1, 7, 0, 0), Open=211.75, High=212.000006, Low=209.050005, Close=210.58, Volume=119282800, Adj Close=27.28265),
 Row(Date=datetime.datetime(2010, 1, 8, 0, 0), Open=210.299994, High=212.000006, Low=209.06000500000002, Close=211.98000499999998, Volume=111902700, Adj Close=27.464034)]

In [19]:
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [4]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [21]:
df.filter(df.Close<500).show()
#df.filter(df['close']<500).show()
#df.filter("close<500").show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [202]:
df.select('date','open','close').filter('close<500').show()

+-------------------+------------------+------------------+
|               date|              open|             close|
+-------------------+------------------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.009998|
|2010-01-05 00:00:00|        214.599998|        214.379993|
|2010-01-06 00:00:00|        214.379993|        210.969995|
|2010-01-07 00:00:00|            211.75|            210.58|
|2010-01-08 00:00:00|        210.299994|211.98000499999998|
|2010-01-11 00:00:00|212.79999700000002|210.11000299999998|
|2010-01-12 00:00:00|209.18999499999998|        207.720001|
|2010-01-13 00:00:00|        207.870005|        210.650002|
|2010-01-14 00:00:00|210.11000299999998|            209.43|
|2010-01-15 00:00:00|210.92999500000002|            205.93|
|2010-01-19 00:00:00|        208.330002|        215.039995|
|2010-01-20 00:00:00|        214.910006|            211.73|
|2010-01-21 00:00:00|        212.079994|        208.069996|
|2010-01-22 00:00:00|206.78000600000001|            197.75|
|2010-01-25 00:00:00|202.51000200000001|        203.070002|
|2010-01-26 00:00:00|205.95000100000001|        205.940001|
|2010-01-27 00:00:00|        206.849995|        207.880005|
|2010-01-28 00:00:00|        204.930004|        199.289995|
|2010-01-29 00:00:00|        201.079996|        192.060003|
|2010-02-01 00:00:00|192.36999699999998|        194.729998|
+-------------------+------------------+------------------+
only showing top 20 rows

In [208]:
# Make sure to add in the parenthesis separating the statements!

df.filter((df["close"] < 200) & (df['open'] > 200)).show() # cannot be 'and' or '&&'
#df.filter( (df["Close"] < 200) | (df['Open'] > 200) ).show()
#df.filter( (df["Close"] < 200) & ~(df['Open'] < 200) ).show()# cannot be '!'

+-------------------+------------------+----------+----------+----------+---------+------------------+
|               Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+-------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+-------------------+------------------+----------+----------+----------+---------+------------------+

+-------------------+------------------+----------+----------+----------+---------+------------------+
|               Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+-------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
+-------------------+------------------+----------+----------+----------+---------+------------------+

In [24]:
df.filter('low==197.16').show()

+-------------------+------------------+----------+------+------+---------+---------+
|               Date|              Open|      High|   Low| Close|   Volume|Adj Close|
+-------------------+------------------+----------+------+------+---------+---------+
|2010-01-22 00:00:00|206.78000600000001|207.499996|197.16|197.75|220441900|25.620401|
+-------------------+------------------+----------+------+------+---------+---------+

In [25]:
df.filter('low==197.16').collect()

[Row(Date=datetime.datetime(2010, 1, 22, 0, 0), Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)]

In [26]:
x=df.filter('low==197.16').collect()
print(type(x))
y=type(x[0])
y

<class 'list'>

pyspark.sql.types.Row

In [27]:
r=x[0]
r

Row(Date=datetime.datetime(2010, 1, 22, 0, 0), Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)

In [28]:
for i in x[0]: # loop through row object will result in fetching values in row object
    print(i)

2010-01-22 00:00:00
206.78000600000001
207.499996
197.16
197.75
220441900
25.620401

In [29]:
r.asDict() # convert row object of key=value to dictionary of key:value

{'Date': datetime.datetime(2010, 1, 22, 0, 0),
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

In [30]:
spark

In [70]:
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

In [79]:
from pyspark.sql.functions import *
df_sum=df.describe()
#df_sum.printSchema()
df_sum.withColumnRenamed('Open','open').columns # rename column

['summary', 'open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [84]:
result = df.describe()
result.show()
result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open_op'), # alias of column after operation on a column
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|summary|              Open|              High|               Low|            Close|             Volume|         Adj Close|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+
|  count|              1762|              1762|              1762|             1762|               1762|              1762|
|   mean| 313.0763111589103| 315.9112880164581| 309.8282405079457|312.9270656379113|9.422577587968218E7| 75.00174115607275|
| stddev|185.29946803981522|186.89817686485767|183.38391664371008|185.1471036170943|6.020518776592709E7| 28.57492972179906|
|    min|              90.0|         90.699997|         89.470001|        90.279999|           11475900|         24.881912|
|    max|        702.409988|        705.070023|        699.569977|       702.100021|          470249500|127.96609099999999|
+-------+------------------+------------------+------------------+-----------------+-------------------+------------------+

+-------+--------+--------+--------+--------+---------+
|summary| Open_op|    High|     Low|   Close|   Volume|
+-------+--------+--------+--------+--------+---------+
|  count|1,762.00|1,762.00|1,762.00|1,762.00|     1762|
|   mean|  313.08|  315.91|  309.83|  312.93|     null|
| stddev|  185.30|  186.90|  183.38|  185.15|     null|
|    min|   90.00|   90.70|   89.47|   90.28| 11475900|
|    max|  702.41|  705.07|  699.57|  702.10|470249500|
+-------+--------+--------+--------+--------+---------+

In [101]:
type(format_number(result['Open'].cast('float'),2))

pyspark.sql.column.Column

In [111]:
df = spark.read.csv('file:///D:\\spark-2.3.2-bin-hadoop2.7\\appl_stock.csv',inferSchema=True,header=True)
df_new = df.withColumn("HV ratio",df["High"]/df["Volume"])
df_new.select("HV ratio").show()

+--------------------+
|            HV ratio|
+--------------------+
|1.737793286041590...|
|1.432718223878593...|
|1.559185743262822...|
|1.777288980473295...|
|1.894503045949740...|
|1.843239827133528...|
|1.411500428288146...|
|1.392525367557254...|
|1.944679270213955...|
|1.424753661031169E-6|
|1.179111006515548...|
|1.408471832522860...|
|1.402998948951121...|
|9.412910884908904E-7|
|7.683215757986584E-7|
|4.578412734118504E-7|
|4.889907419641508E-7|
|7.004672644896166E-7|
|6.491419575900331E-7|
|1.045505632661596E-6|
+--------------------+
only showing top 20 rows

In [112]:
df.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [120]:
df.select('Date').orderBy('High',ascending=False).show() #descending order
#df.select('Date').orderBy('High').desc().show()

+-------------------+
|               Date|
+-------------------+
|2012-09-21 00:00:00|
|2012-09-19 00:00:00|
|2012-09-18 00:00:00|
|2012-09-20 00:00:00|
|2012-09-17 00:00:00|
|2012-09-14 00:00:00|
|2012-09-24 00:00:00|
|2012-09-25 00:00:00|
|2012-09-13 00:00:00|
|2012-09-10 00:00:00|
|2012-09-07 00:00:00|
|2012-09-27 00:00:00|
|2012-09-28 00:00:00|
|2012-08-27 00:00:00|
|2012-09-06 00:00:00|
|2012-08-29 00:00:00|
|2012-10-01 00:00:00|
|2012-09-05 00:00:00|
|2012-08-28 00:00:00|
|2012-09-04 00:00:00|
+-------------------+
only showing top 20 rows

In [124]:
df.select('Date').orderBy('High',ascending=False).head()
#df.select('Date').orderBy('High',ascending=False).first()

Row(Date=datetime.datetime(2012, 9, 21, 0, 0))

In [125]:
df.select('Date').orderBy('High',ascending=False).head()[0]  #Row() is like list

datetime.datetime(2012, 9, 21, 0, 0)

In [128]:
df.select(mean('Close').alias('mean_close')).show()

+-----------------+
|       mean_close|
+-----------------+
|312.9270656379113|
+-----------------+

In [168]:
df.groupBy().mean("Open","Close","Volume").show() # mean of columns (separated by comma)- (groupBy() having no column name means consider entor set as a group)

+-----------------+-----------------+-------------------+
|        avg(Open)|       avg(Close)|        avg(Volume)|
+-----------------+-----------------+-------------------+
|313.0763111589103|312.9270656379113|9.422577587968218E7|
+-----------------+-----------------+-------------------+

In [129]:
df.groupBy().agg({"Open":'mean',"Close":'mean',"Volume":'mean'}).show() # mean of list of columns using agg()

+-------------------+-----------------+-----------------+
|        avg(Volume)|       avg(Close)|        avg(Open)|
+-------------------+-----------------+-----------------+
|9.422577587968218E7|312.9270656379113|313.0763111589103|
+-------------------+-----------------+-----------------+

In [130]:
df.groupBy().mean().show() # to do mean of all columns in data frame without specifying all columnn names in list

+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+
|        avg(Open)|        avg(High)|         avg(Low)|       avg(Close)|        avg(Volume)|   avg(Adj Close)|
+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+
|313.0763111589103|315.9112880164581|309.8282405079457|312.9270656379113|9.422577587968218E7|75.00174115607275|
+-----------------+-----------------+-----------------+-----------------+-------------------+-----------------+

In [131]:
type(max(df["Volume"]))

pyspark.sql.column.Column

In [132]:
df.select(max('Volume')).show()

+-----------+
|max(Volume)|
+-----------+
|  470249500|
+-----------+

In [135]:
df.select(min("Volume").alias('min_vol'),max("Volume").alias('max_vol')).show()

+--------+---------+
| min_vol|  max_vol|
+--------+---------+
|11475900|470249500|
+--------+---------+

In [144]:
df1 = sc.parallelize([[25,'Prem','1.2034'],[20,'Kate','2.4567']]).toDF(["age","name","expense"]) # creating dataframe from rdd using toDF()
#df1.show()
#df1.registerTempTable("Sample")
df1.createOrReplaceTempView('Sample')

In [142]:
spark.sql('drop table sample')

DataFrame[]

In [147]:
df1.columns

['age', 'name', 'expense']

In [145]:
spark.sql('select age,name,cast(expense as decimal(5,2)) from Sample').show() #cast decimal value to certain number of places

+---+----+-------+
|age|name|expense|
+---+----+-------+
| 25|Prem|   1.20|
| 20|Kate|   2.46|
+---+----+-------+

In [148]:
df1.withColumn('age',df1.age+1).show() # transformation on a column

+---+----+-------+
|age|name|expense|
+---+----+-------+
| 26|Prem| 1.2034|
| 21|Kate| 2.4567|
+---+----+-------+

In [163]:
df1.withColumn('expense',format_number(df1.expense.cast('double'),2)).show() # withColumn and cast function to change column type in a dataframe without using spark.sql

+---+----+-------+
|age|name|expense|
+---+----+-------+
| 25|Prem|   1.20|
| 20|Kate|   2.46|
+---+----+-------+

In [165]:
rdd2 = sc.parallelize([[31,'sam','1.2034'],[36,'sumit','2.4567']]) # creating data frame from rdd and schema in createdataframe()
df2=spark.createDataFrame(rdd2,["age","name","expense"])
df2.persist()

DataFrame[age: bigint, name: string, expense: string]

In [166]:
df2.show()

+---+-----+-------+
|age| name|expense|
+---+-----+-------+
| 31|  sam| 1.2034|
| 36|sumit| 2.4567|
+---+-----+-------+

In [170]:
df.show(5)

+-------------------+----------+----------+------------------+------------------+---------+------------------+
|               Date|      Open|      High|               Low|             Close|   Volume|         Adj Close|
+-------------------+----------+----------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|213.429998|214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|214.599998|215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|214.379993|    215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|    211.75|212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|210.299994|212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
+-------------------+----------+----------+------------------+------------------+---------+------------------+
only showing top 5 rows

In [179]:
df.filter('Close<200').limit(10).show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
|2010-02-02 00:00:00|        195.909998|        196.319994|193.37999299999998|        195.859997|174585600|25.375532999999997|
|2010-02-03 00:00:00|        195.169994|        200.200003|        194.420004|        199.229994|153832000|25.812148999999998|
|2010-02-04 00:00:00|        196.730003|        198.370001|        191.570005|        192.050003|189413000|         24.881912|
|2010-02-05 00:00:00|192.63000300000002|             196.0|        190.850002|        195.460001|212576700|25.323710000000002|
|2010-02-08 00:00:00|        195.690006|197.88000300000002|        193.999994|194.11999699999998|119567700|           25.1501|
|2010-02-09 00:00:00|        196.419996|        197.499994|        194.749998|196.19000400000002|158221700|         25.418289|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+

In [187]:
df.select(count('Date')).show() # to take aggregation function result in a column

df.select('Date').count() #same as df.count()
# count() won't count NULL values

+-----------+
|count(Date)|
+-----------+
|       1762|
+-----------+

1762

In [191]:
df_year=df.withColumn('df_year',year('Date')) # extracting year from timestamp type column and adding a column containing extracted year in df

In [212]:
df_year.groupBy('df_year').max('High').orderBy(desc('df_year')).show()
#df_year.groupBy('df_year').max('High').alias('max_high').orderBy('df_year',ascending=False).show()

+-------+------------------+
|df_year|         max(High)|
+-------+------------------+
|   2016|        118.690002|
|   2015|134.53999299999998|
|   2014|        651.259979|
|   2013|        575.139999|
|   2012|        705.070023|
|   2011|426.69999299999995|
|   2010|            326.66|
+-------+------------------+

In [200]:
type(df_year.groupBy('df_year').max('High')) #return type of aggregation function on group by is a dataframe

pyspark.sql.dataframe.DataFrame

In [275]:
df_year.groupBy("df_year").mean().show() # mean on all columns in df_year

+-------+------------------+------------------+------------------+------------------+--------------------+------------------+------------+
|df_year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|         avg(Volume)|    avg(Adj Close)|avg(df_year)|
+-------+------------------+------------------+------------------+------------------+--------------------+------------------+------------+
|   2015|120.17575393253965|121.24452385714291| 118.8630954325397|120.03999980555547|  5.18378869047619E7|115.96740080555561|      2015.0|
|   2013| 473.1281355634922| 477.6389272301587|468.24710264682557| 472.6348802857143|          1.016087E8| 62.61798788492063|      2013.0|
|   2014| 295.1426195357143|297.56103184523823| 292.9949599801587| 295.4023416507935| 6.315273055555555E7| 87.63583323809523|      2014.0|
|   2012|     576.652720788| 581.8254008040001| 569.9211606079999| 576.0497195640002|       1.319642044E8| 74.81383696800002|      2012.0|
|   2016|104.50777772619044| 105.4271825436508|103.69027771825397|104.60400786904763|  3.84153623015873E7|103.15032854761901|      2016.0|
|   2010| 259.9576190992064|262.36880881349214|256.84761791269847| 259.8424600000002|1.4982631666666666E8|33.665072424603196|      2010.0|
|   2011|364.06142773412705| 367.4235704880951|360.29769878174613|364.00432532142867|1.2307474166666667E8| 47.16023692063492|      2011.0|
+-------+------------------+------------------+------------------+------------------+--------------------+------------------+------------+

In [282]:
df_year.groupBy("df_Year").mean()[['avg(Close)']].show() # df_year.groupBy('df_year').mean() is a dataframe from which we can select columns (double sq brackets) to show

+------------------+
|        avg(Close)|
+------------------+
|120.03999980555547|
| 472.6348802857143|
| 295.4023416507935|
| 576.0497195640002|
|104.60400786904763|
| 259.8424600000002|
|364.00432532142867|
+------------------+

In [283]:
df_year.groupBy("df_Year").mean()[['avg(df_year)','avg(Close)']].show() # for more than one column

+------------+------------------+
|avg(df_year)|        avg(Close)|
+------------+------------------+
|      2015.0|120.03999980555547|
|      2013.0| 472.6348802857143|
|      2014.0| 295.4023416507935|
|      2012.0| 576.0497195640002|
|      2016.0|104.60400786904763|
|      2010.0| 259.8424600000002|
|      2011.0|364.00432532142867|
+------------+------------------+

In [287]:
df_year.groupBy("df_Year").mean()[['avg(df_year)','avg(Close)']].dtypes

[('avg(df_year)', 'double'), ('avg(Close)', 'double')]

In [288]:
type(df_year.groupBy("df_Year").mean()[['avg(df_year)','avg(Close)']].show()) # show() returns NoneType

+------------+------------------+
|avg(df_year)|        avg(Close)|
+------------+------------------+
|      2015.0|120.03999980555547|
|      2013.0| 472.6348802857143|
|      2014.0| 295.4023416507935|
|      2012.0| 576.0497195640002|
|      2016.0|104.60400786904763|
|      2010.0| 259.8424600000002|
|      2011.0|364.00432532142867|
+------------+------------------+

NoneType

In [285]:
x=df.withColumn("Year",year(df['Date'])).groupBy("Year").mean()[['avg(Year)','avg(Close)']].collect() # collect function returns list type
x

[Row(avg(Year)=2015.0, avg(Close)=120.03999980555547),
 Row(avg(Year)=2013.0, avg(Close)=472.6348802857143),
 Row(avg(Year)=2014.0, avg(Close)=295.4023416507935),
 Row(avg(Year)=2012.0, avg(Close)=576.0497195640002),
 Row(avg(Year)=2016.0, avg(Close)=104.60400786904763),
 Row(avg(Year)=2010.0, avg(Close)=259.8424600000002),
 Row(avg(Year)=2011.0, avg(Close)=364.00432532142867)]

In [286]:
x[0:5] # first 5 rows from list of row objects

[Row(avg(Year)=2015.0, avg(Close)=120.03999980555547),
 Row(avg(Year)=2013.0, avg(Close)=472.6348802857143),
 Row(avg(Year)=2014.0, avg(Close)=295.4023416507935),
 Row(avg(Year)=2012.0, avg(Close)=576.0497195640002),
 Row(avg(Year)=2016.0, avg(Close)=104.60400786904763)]

In [201]:
df_month = df.withColumn('Month',month(df['Date']))
df_month.groupBy('Month').avg('Close').orderBy('Month').show()

+-----+------------------+
|Month|        avg(Close)|
+-----+------------------+
|    1|322.20971425714276|
|    2| 321.3595563037038|
|    3|332.91156731372547|
|    4|340.51041081506827|
|    5|351.62102085714304|
|    6|      288.12546566|
|    7|281.72216211486483|
|    8| 300.4385809612901|
|    9| 301.0763195902777|
|   10|308.30552563157886|
|   11| 306.2725174895104|
|   12|302.35053626845644|
+-----+------------------+

In [209]:
#Schema inference

df3 = spark.read.json('file:///D:\\spark-2.3.2-bin-hadoop2.7\\people.json')

In [210]:
df3.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [216]:
df3.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [226]:
# Programmatically specifying schema

fieldlist=[StructField('age',IntegerType(),True),StructField('name',StringType(),True)] #list of StructFields for StructType
schema=StructType(fieldlist)

df4=spark.read.json('file:///D:\\spark-2.3.2-bin-hadoop2.7\\people.json',schema) #providing schema in json()
df4.show()

#df4=spark.read.format('json').load('file:///D:\\spark-2.3.2-bin-hadoop2.7\\people.json',schema=schema) # to provide schena in load()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [227]:
df4.dtypes # to get (columnname,datatype) in a list

[('age', 'int'), ('name', 'string')]

In [235]:
df4.filter(df4.age != 30).show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

In [245]:
df4.filter(df4['age'].isNull()).show() #to check for NULL

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
+----+-------+

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [268]:
df4.storageLevel   # to get strage level of df (normal df (with no cache/persist is serialized with no saving in memory/disk)
print(df4.storageLevel)

Serialized 1x Replicated

In [356]:
df4.persist() # default MEMORY_DISK_ONLY (serialized with aving in memory & disk)
print(df4.storageLevel)

Disk Memory Serialized 1x Replicated

In [359]:
df4.unpersist()  # unpersist df

DataFrame[age: int, name: string]

In [252]:
df4.cache()  #df will be deserialized but will be saved in memory and disk by default
print(df4.storageLevel)

Disk Memory Deserialized 1x Replicated

In [360]:
df4.is_cached # to check if cached

False

In [266]:
df4.persist(pyspark.StorageLevel.DISK_ONLY_2)# to specify storage level
print(df4.storageLevel)

Disk Serialized 2x Replicated

In [293]:
sc.parallelize([(1, 2), (3, 4)]).collectAsMap() # returns (k,v) element in a rdd as k:v (dictionary)

{1: 2, 3: 4}

In [297]:
df.groupBy().max().show() # won't take max on date column as it is non numeric

# max,min,mean,avg operates on numerical columns only

+----------+----------+----------+----------+-----------+------------------+
| max(Open)| max(High)|  max(Low)|max(Close)|max(Volume)|    max(Adj Close)|
+----------+----------+----------+----------+-----------+------------------+
|702.409988|705.070023|699.569977|702.100021|  470249500|127.96609099999999|
+----------+----------+----------+----------+-----------+------------------+

In [302]:
df.agg({'Open':'max'}).show()

+----------+
| max(Open)|
+----------+
|702.409988|
+----------+

In [303]:
df_year.groupBy('df_year').max().show() # grouped column name will be in data frame along with aggregated columns

+-------+------------------+------------------+-----------------+------------------+-----------+------------------+------------+
|df_year|         max(Open)|         max(High)|         max(Low)|        max(Close)|max(Volume)|    max(Adj Close)|max(df_year)|
+-------+------------------+------------------+-----------------+------------------+-----------+------------------+------------+
|   2015|134.46000700000002|134.53999299999998|       131.399994|             133.0|  162206300|127.96609099999999|        2015|
|   2013|        572.650009|        575.139999|566.4100269999999|        570.090004|  365213100|         76.388451|        2013|
|   2014|        649.900002|        651.259979|       644.470024|        647.349983|  266380800|113.96566299999999|        2014|
|   2012|        702.409988|        705.070023|       699.569977|        702.100021|  376530000| 91.35431700000001|        2012|
|   2016|            118.18|        118.690002|       117.449997|            118.25|  133369700|117.13811799999999|        2016|
|   2010|         326.21999|            326.66|       325.099991|        325.470013|  466777500|         42.167749|        2010|
|   2011|        421.759987|426.69999299999995|       415.990002|422.23999800000007|  470249500|         54.705225|        2011|
+-------+------------------+------------------+-----------------+------------------+-----------+------------------+------------+

In [305]:
df5=sc.parallelize([[1,2],[1,2],[1,2],[3,4],[5,6]]).toDF(['int1','int2'])

In [306]:
df5.show()

+----+----+
|int1|int2|
+----+----+
|   1|   2|
|   1|   2|
|   1|   2|
|   3|   4|
|   5|   6|
+----+----+

In [314]:
df5.select(col('int2')).show() # to get value of a column

#df5.select('int2').show()

+----+
|int2|
+----+
|   2|
|   2|
|   2|
|   4|
|   6|
+----+

+----+
|int2|
+----+
|   2|
|   2|
|   2|
|   4|
|   6|
+----+

In [311]:
df5.select(countDistinct('int1')).show() # to count distict values in column

+--------------------+
|count(DISTINCT int1)|
+--------------------+
|                   3|
+--------------------+

In [318]:
df5.distinct().show() # to drop duplicate rows

+----+----+
|int1|int2|
+----+----+
|   5|   6|
|   3|   4|
|   1|   2|
+----+----+

In [316]:
df6=df5.dropDuplicates() # to drop duplicate rows
df6.show()

+----+----+
|int1|int2|
+----+----+
|   5|   6|
|   3|   4|
|   1|   2|
+----+----+

In [322]:
df5.select(mean('int1').alias('mean_int1')).show() # to find mean/avg of col

#df5.select(avg('int1')).show()

+---------+
|avg(int1)|
+---------+
|      2.2|
+---------+

In [326]:
df5.orderBy(df5["int1"].desc()).distinct().show() # descending order and then distinct
#df5.orderBy(df5["int1"],ascending=False).distinct().show()

+----+----+
|int1|int2|
+----+----+
|   5|   6|
|   3|   4|
|   1|   2|
+----+----+

In [327]:
df7= spark.read.format('csv').option('header','True').option('inferSchema','True').csv("file:///D:\\spark-2.3.2-bin-hadoop2.7\\ContainsNull.csv")

In [328]:
df7.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [334]:
df8=df7.dropna('any') # 'any' (default if not specified) means drop row if NULL any where in a row (df.dropna(how='any'/'all', thresh(threshold number of non NULL,drop if non nulls are less than thresh value=None(default), subset(specific column(s) to look for=None(default))
#df8=df7.na.drop()
df8.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [335]:
df9=df7.dropna('all')
df9.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [336]:
df10=df7.dropna(thresh=2).show() #min 2 non null values are needed in a row to not drop
df10

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [339]:
df7.dropna(subset='Sales').show() # drop null in specific column

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [346]:
# to fill null values

#df7.na.fill('fill_value').show() # since null fill value is a string so only string columns will be filled .Numeric columns will still be NULL

#appropriate way
df7.na.fill('fill_value1',subset='Name').show()

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| null|
|emp2|fill_value1| null|
|emp3|fill_value1|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [362]:
# to fill null values

#df7.na.fill(0).show() # since null fill value is a numeric so only numeric columns will be filled .Non - Numeric columns will still be NULL

#df7.na.fill('fill_value1',subset='Sales').show() # will not happen as fill value is string and column we are looking is a numeric column

#appropriate way

df7.na.fill(1.1,subset='Sales').show() 

#df7.na.fill(1.1,'Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  1.1|
|emp2| null|  1.1|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

True